include VERSION
include LICENSE*
include THIRD_PARTY
include NOTICE
include *.md
include *.txt
include *.in
include *.sh
include *.yaml
include *.lock
include tox.ini

recursive-include aws_emr_launch *
recursive-include scripts *.sh
recursive-include examples *.py
recursive-include examples *.md
recursive-include examples *.sh
recursive-include examples *.json
recursive-include examples *.hql
recursive-include examples *.jar
recursive-include docs *.md


exclude Config
exclude codepipeline/cdk.json

recursive-exclude tests *
recursive-exclude examples/.env *
recursive-exclude examples/*/cdk.out *
recursive-exclude codepipeline  *

recursive-exclude examples *.css
recursive-exclude examples *.parquet
recursive-exclude examples *.png
recursive-exclude examples *.tf
recursive-exclude examples *.tfvars
recursive-exclude examples *.txt
recursive-exclude examples *.zip
recursive-exclude extras *.md
recursive-exclude extras *.py

global-exclude *.pyc
global-exclude __pycache__
global-exclude environment_vars.sh
global-exclude cdk.context.json
