[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
zest-releaser = {extras = ["recommended"],version = "*"}

[requires]
python_version = "3.7"

[packages]
aws-emr-launch = {editable = true,path = "."}
