[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
cfnresponse = "*"
zest-releaser = {extras = ["recommended"],version = "*"}

[packages]
boto3 = "*"
aws-cdk-core = "*"
aws-cdk-aws-iam = "*"
aws-cdk-aws-s3 = "*"
aws-cdk-aws-kms = "*"
aws-cdk-aws-ec2 = "*"
aws-cdk-aws-emr = "*"
aws-cdk-aws-sns = "*"
aws-cdk-aws-sqs = "*"
aws-cdk-aws-lambda = "*"
aws-cdk-aws-stepfunctions = "*"
aws-cdk-aws-stepfunctions-tasks = "*"
requests = "*"
requests-aws4auth = "*"

[requires]
python_version = "3.7"
